<%- include('partials/header') %>


<div class="">

  <ul>
    <li><a href="/questions">Start From Begining</a></li>
    <li><a href="unanswer">Unanswered Questions!!</a></li>
  </ul>

  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
</div>


<div class="dropdown">
  <button class=""><i class="fas fa-bell"></i></button>
  <div class="dropdown-content">
    <a href="#">A Question Was Added !!</a>
    <a href="#">A Question Was Added !!</a>
  </div>
</div>

<%- include('partials/footer') %>
