<%- include('partials/header') %>

<form class="" action="/question" method="post">
  <h4>Enter Question!!</h4>
  <input type="text" name="ques">
  <h5>Option1</h5>
  <input type="text" name="o1">
  <h5>Option2</h5>
  <input type="text" name="o2">
  <h5>Option3</h5>
  <input type="text" name="o3">
  <h5>Option4</h5>
  <input type="text" name="o4">
  <h5>Answer</h5>
  <input type="text" name="a">

<button type="submit" class="btn btn-dark">Add</button>
</form>

<%- include('partials/footer') %>
